<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="/static/css/styles.css" rel="stylesheet"/>
</head>
<body>
<h1>MAIN PAGE</h1>
<div class="content">
    <img alt="The Movie DB" src="/img/logo.png"/>
</div>
<a class=" form-control btn btn-primary col-md-3" onclick="this.blur()" role="button" th:href="@{'/add-rating'}"> Add rating</a><br/><br/>
<a class=" form-control btn btn-primary col-md-3" onclick="this.blur()" role="button" th:href="@{'/want-see'}"> Add want see</a><br/><br/>
<a class=" form-control btn btn-primary col-md-3" onclick="this.blur()" role="button" th:href="@{'/add-user'}"> Add user</a><br/><br/><br/>
<a class=" form-control btn btn-primary col-md-3" onclick="this.blur()" role="button" th:href="@{'/recommendation'}"> Recommendation</a>
</body>
</html>